#<h2>search for user<h2>
#
#<%=
#  form_for :user, '/users/find' do
#    div class: 'input' do
#      label      :ID
#      text_field :id
#    end
#
#    div class: 'controls' do
#      submit 'search'
#    end
#  end
#%>   