<h2>User list</h2><br>
  <div id="users">
    <% users.each do |user| %>
      <div class="user">
        <p><label>user_id: <%= user.id %></p></label>
        <p><label>name: <%= user.name %></p></label>
        <p><label>contact: <%= user.contact %></p></label>
        <p><label>email: <%= user.email %></p></label>
        <p><label>otp: <%= user.otp %></p></label>
         <p><label>verified: <%= user.verified %></p></label>
      </div>
      <br>
    <% end %>
  </div>
