<h2>Create New User</h2>

<%=
  form_for :user, '/users' do
    div class: 'input' do
      label      :Name
      text_field :name
    end

    div class: 'input' do
      label      :Email
      text_field :email
    end

    div class: 'controls' do
      submit 'Create User'
    end
  end
%>  